name: Build and Push Docker Image

on:
  push:
    branches:
      - master  # or main if your branch is main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v4

    # Step 2: Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Step 3: Log in to DockerHub
    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Step 4: Build Docker image
    - name: Build Docker image
      run: |
        docker build -t xavierkk/sports-classifier:1.0.1 .

    # Step 5: Push Docker image to DockerHub
    - name: Push Docker image
      run: |
        docker push xavierkk/sports-classifier:1.0.1
